* {
  margin: 0;
  padding: 0;
  position: inherit;
  background-color: transparent;
  border: 1px solid turquoise;
  text-decoration: none;
  list-style: none;
  height: inherit;
  width: inherit;
}

html {
  position: absolute;
  background-color: #282c34;
  text-decoration: none;
  list-style: none;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  position: absolute;
  background-color: transparent;
  text-decoration: none;
  list-style: none;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 10vw;
  height: auto;
  width: auto;
}

h2 {
  font-size: 8vw;
  height: auto;
  width: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
